<html ng-app="firebaseApp">      
<head>
<title>Angular- Controller </title>
<link rel="stylesheet" href="bootstrap.css">
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.js"></script>
<script src="app.js"></script>



<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCiCNoTD3Q7KpeeNOSWdqqd5MLb_X-V34U",
    authDomain: "test-b5866.firebaseapp.com",
    databaseURL: "https://test-b5866.firebaseio.com",
    projectId: "test-b5866",
    storageBucket: "test-b5866.appspot.com",
    messagingSenderId: "176864572853"
  };
  firebase.initializeApp(config);
</script>

</head>
<body>

    <div ng-controller="todoCtrl as todo">
       
   <button class="btn btn-danger" ng-click="todo.login()">Login with Google</button>
   <button class="btn btn-primary" ng-click="todo.loginwithfb()">Login with Facebook</button>

    <h3> {{todo.user.displayName}}</h3>
    <img style="width:60px;height:60px" ng-src="{{todo.user.photoURL}}" alt="">
    </div>


</body>
</html>